header{
	margin-bottom: 3rem;
}
p{
	line-height: 1.6;
}
.see-all{
	text-transform: uppercase;
	font-size:0.8em;
}
#game-of-thrones{
	font-size:2.5rem;
}
#unbreakable-kimmy-schmidt{
	font-size: 2.5rem;
}
